<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1434367988138-91376</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1434367988138-91376</wdId>
      <tags>HPCAzureNodeBalancer</tags>
      <dirName>./work/HPCAzureNodeBalancerApp-1.0/*</dirName>
      <hosts></hosts>
      <filePattern>*.out*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,30,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
